.gitignore export-ignore
.gitattributes export-ignore
.github export-ignore
changelog.txt export-ignore
HOW_TO_RELEASE.md export-ignore
resources/lib/cassettes export-ignore
resources/lib/test_imdb_rating.py export-ignore